{% extends 'account/base.html' %}
{% load socialaccount %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<div class="container-fluid">

    <div class="row intro-section">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="container intro-text align-middle">
                <h1 class="landing-heading">CALORIE TRACKER</h1>
                <p class="my-3">We are what we eat. Keep track of the calories you consume.</p>
                <a href="/accounts/signup/"> <button class="btn btn-primary signup-btn">SIGN UP</button></a>
                <button class="btn btn-primary login-btn" data-toggle="modal"
                    data-target=".bd-example-modal-lg">LOGIN</button>
                <p class="text-muted my-2">Continue with <a href="{% provider_login_url 'google' %}">Google</a><span><img class="googl-png" src="{% static 'images/google.png'%}" alt=""></span></p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="container intro-img">
                <img class="fruit-img d-none d-md-block d-sm-block" src="{% static 'images/dragon-fruit.jpg' %}" alt="">
            </div>
        </div>
    </div>

</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container login-section mt-5">
                <form class="form-signin" action="/accounts/login/" method="post">
                    {% csrf_token %}

                    {% bootstrap_form form%}
                  
                        <input type="submit" class="btn  btn-primary signup-btn" value="LOGIN">
                 
                    <input type="hidden" name="next" value="{{next}}">
                    <a href="{% provider_login_url 'google' %}" class="btn btn-danger login-btn" role="button"
                        aria-pressed="true">Google Sign In <span><img class="google-png"
                                src="{% static 'images/google.png'%}" alt=""></span></a>
                    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>

                </form>
                <!-- <form class="form-signin" action="/accounts/login/" method="post">
                    <h6 class="text-center heading">PLEASE SIGN IN</h6>
                    {% csrf_token %}
                    {% bootstrap_form form%}
                    
                    <div class="form-group">
                        <input type="submit" class="btn  btn-primary login-btn btn-sm mt-3" value="LOGIN">
                    </div>
                    <input type="hidden" name="next" value="{{next}}">
                    <a href="{% provider_login_url 'google' %}" class="btn btn-danger login-btn" role="button"
                        aria-pressed="true">Google Sign In <span><img class="google-png"
                                src="{% static 'images/google.png'%}" alt=""></span></a>
                    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
                </form> -->
            </div>
        </div>
    </div>
</div>


{% endblock %}