{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

<div class="container-fluid">

    <div class="row home-intro">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="container text-center">
                <img class="fruit-img d-none d-sm-block d-md-block m-2 mx-auto" src="{% static 'images/grape.jpg' %}"
                    alt="">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="container mx-auto">
                <h6 class="home-heading">Search for food to know their calories.<br>Create your meals for the day<br>to
                    keep track of your calories.</h6>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        {% for i in foods %}
        <div class="card food-card">
            <p class="card-header">{{i.name}}</p>
            <div class="card-body">
                <p class="">Nutrients</p>
                <div class="d-flex">
                    <div class="container">
                        <p>Serving:  {{serving}}  grams</p>
                        <p>Calories:  {{calories}}</p>
                        <p>SUGAR:  {{sugar}}  grams</p>
                        <p>FIBRE:  {{fibre}}  grams</p>
                        <p>SODIUM:  {{sodium}}  mg</p>
                        
                
                    </div>
                    <div class="container">
                        <p>FAT:  {{fat}}  grams</p>
                        <p>CHOLESTEROL:  {{cholesterol}} mg</p>
                        <p>PROTEINS:  {{protein}} grams</p>
                        <p>CARBOHYDRATES:  {{carbs}} grams</p>
                    </div>
                </div>

                <a href="{% url 'delete' food_id=user.id %}" class="btn btn-primary">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}