{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

<div class="container-fluid">

    <div class="row home-intro">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="container text-center">
                <img class="fruit-img d-none d-sm-block d-md-block m-2 mx-auto" src="{% static 'images/grape.jpg' %}"
                    alt="">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="container mx-auto">
                <h6 class="home-heading">Search for food to know their calories.<br>Create your meals for the day<br>to
                    keep track of your calories.</h6>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h6 class="food-heading text-center">My Foods</h6>
</div>

<div class="container-fluid saved-foods">
    <div class="container">
        {% for i in foods %}
        {% if i.name %}
        <div class="card food-card my-2">
            <p class="card-header">{{i.name}}</p>
            <div class="card-body">
                <p class="">Nutrients</p>
                <div class="d-flex">
                    <div class="container">
                        <p>Serving:  {{i.serving}}  grams</p>
                        <p>Calories:  {{i.calories}}</p>
                        <p>SUGAR:  {{i.sugar}}  grams</p>
                        <p>FIBRE:  {{i.fibre}}  grams</p>
                        <p>SODIUM:  {{i.sodium}}  mg</p>
                        
                
                    </div>
                    <div class="container">
                        <p>FAT:  {{i.fat}}  grams</p>
                        <p>CHOLESTEROL:  {{i.cholesterol}} mg</p>
                        <p>PROTEINS:  {{i.protein}} grams</p>
                        <p>CARBOHYDRATES:  {{i.carbs}} grams</p>
                    </div>
                </div>

                <a href="{% url 'delete' pk=user.id %}" class="btn btn-danger mx-auto"><i class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>
        
        {% else %}

        <p>Search for foods to display</p>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}