{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

<div class="container-fluid">

    <div class="row home-intro">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="container">
                <img class="fruit-img" src="{% static 'images/grape.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="container">
                <h6 class="home-heading">Search for food to know their calories.<br>Create your meals for the day<br>to
                    keep track of your calories.</h6>
            </div>
        </div>
    </div>
</div>

{% endblock %}